<p>{{ post.data.title }}</p>
<p>{{ post.data.date | postDate }}</p>
<img
  style="height: 200px"
  src="{{ post.data.image1 }}"
  alt="{{ post.data.imageAlt1 }}"
/>
<a href="{{ post.url }}">Continue Reading</a>
