---
layout: "base.njk"
---

<section class="block">
  <div class="container">
    <header class="block__header" data-aos="fade-up">
      <h1 class="blog--header">{{ blogTitle }}</h1>
    </header>

    <article class="feature grid grid--1x2" data-aos="zoom-in-up">
      <div class="feature__content">
        {{ paragraph1 | safe }}
      </div>
      <div class="feature__order">
        <img
          class="feature__image image--rounded"
          src="{{ image1 }}"
          alt="{{ imageAlt1 }}"
        />
      </div>
    </article>

    {% if subheading2|length %}

    <article class="feature">
      <div class="feature__content">
        <h3 class="feature__heading">{{ subheading2 }}</h3>

        {{ paragraph2 | safe }}
      </div>
    </article>
    {% if imageAlt2|length %}
    <div class="blog__image__container">
      <img class="feature__image" src="{{ image2 }}" alt="{{ imageAlt2 }}" />
      <p>{{ caption2 }}</p>
    </div>

    {% endif %} {% endif %} {% if subheading3|length %}

    <article class="feature">
      <div class="feature__content">
        <h3 class="feature__heading">{{ subheading3 }}</h3>

        {{ paragraph3 | safe }}
      </div>
    </article>

    {% if imageAlt3|length %}

    <div class="blog__image__container">
      <img class="feature__image" src="{{ image3 }}" alt="{{ imageAlt3 }}" />
      <p>{{ caption3 }}</p>
      <p></p>
    </div>

    {% endif %} {% endif %} {% if subheading4|length %}

    <article class="feature">
      <div class="feature__content">
        <h3 class="feature__heading">{{ subheading4 }}</h3>

        {{ paragraph4 | safe }}
      </div>
    </article>

    {% if imageAlt4|length %}

    <div class="blog__image__container">
      <img class="feature__image" src="{{ image4 }}" alt="{{ imageAlt4 }}" />
      <p>{{ caption4 }}</p>
      <p></p>
    </div>

    {% endif %} {% endif %} {% if subheading5|length %}

    <article class="feature">
      <div class="feature__content">
        <h3 class="feature__heading">{{ subheading5 }}</h3>

        {{ paragraph5 | safe }}
      </div>
    </article>
    {% if imageAlt5|length %}

    <div class="blog__image__container">
      <img class="feature__image" src="{{ image5 }}" alt="{{ imageAlt5 }}" />
      <p>{{ caption5 }}</p>
      <p></p>
    </div>

    {% endif %} {% endif %} {% if subheading6|length %}

    <article class="feature">
      <div class="feature__content">
        <h3 class="feature__heading">{{ subheading6 }}</h3>

        {{ paragraph6 | safe }}
      </div>
    </article>
    {% if imageAlt6|length %}

    <div class="blog__image__container">
      <img class="feature__image" src="{{ image6 }}" alt="{{ imageAlt6 }}" />
      <p>{{ caption6 }}</p>
      <p></p>
    </div>

    {% endif %} {% endif %} {% if subheading7|length %}

    <article class="feature">
      <div class="feature__content">
        <h3 class="feature__heading">{{ subheading7 }}</h3>

        {{ paragraph7 | safe }}
      </div>
    </article>
    {% if imageAlt7|length %}

    <div class="blog__image__container">
      <img class="feature__image" src="{{ image7 }}" alt="{{ imageAlt7 }}" />
      <p>{{ caption7 }}</p>
      <p></p>
    </div>

    {% endif %} {% endif %} {% if subheading8|length %}

    <article class="feature">
      <div class="feature__content">
        <h3 class="feature__heading">{{ subheading8 }}</h3>

        {{ paragraph8 | safe }}
      </div>
    </article>
    {% if imageAlt8|length %}

    <div class="blog__image__container">
      <img class="feature__image" src="{{ image8 }}" alt="{{ imageAlt8 }}" />
      <p>{{ caption8 }}</p>
      <p></p>
    </div>

    {% endif %} {% endif %} {% if subheading9|length %}

    <article class="feature">
      <div class="feature__content">
        <h3 class="feature__heading">{{ subheading9 }}</h3>

        {{ paragraph9 | safe }}
      </div>
    </article>
    {% if imageAlt9|length %}

    <div class="blog__image__container">
      <img class="feature__image" src="{{ image9 }}" alt="{{ imageAlt9 }}" />
      <p>{{ caption9 }}</p>
      <p></p>
    </div>

    {% endif %} {% endif %} {% if subheading10|length %}

    <article class="feature">
      <div class="feature__content">
        <h3 class="feature__heading">{{ subheading10 }}</h3>

        {{ paragraph10 | safe }}
      </div>
    </article>
    {% if imageAlt10|length %}

    <div class="blog__image__container">
      <img class="feature__image" src="{{ image10 }}" alt="{{ imageAlt10 }}" />
      <p>{{ caption10 }}</p>
      <p></p>
    </div>

    {% endif %} {% endif %} {% if subheading11|length %}

    <article class="feature">
      <div class="feature__content">
        <h3 class="feature__heading">{{ subheading11 }}</h3>

        {{ paragraph11 | safe }}
      </div>
    </article>
    {% if imageAlt11|length %}

    <div class="blog__image__container">
      <img class="feature__image" src="{{ image11 }}" alt="{{ imageAlt11 }}" />
      <p>{{ caption11 }}</p>
      <p></p>
    </div>

    {% endif %} {% endif %} {% if subheading12|length %}

    <article class="feature">
      <div class="feature__content">
        <h3 class="feature__heading">{{ subheading12 }}</h3>

        {{ paragraph12 | safe }}
      </div>
    </article>
    {% if imageAlt12|length %}

    <div class="blog__image__container">
      <img class="feature__image" src="{{ image12 }}" alt="{{ imageAlt12 }}" />
      <p>{{ caption12 }}</p>
      <p></p>
    </div>

    {% endif %} {% endif %} {% if subheading13|length %}

    <article class="feature">
      <div class="feature__content">
        <h3 class="feature__heading">{{ subheading13 }}</h3>

        {{ paragraph13 | safe }}
      </div>
    </article>
    {% if imageAlt13|length %}

    <div class="blog__image__container">
      <img class="feature__image" src="{{ image13 }}" alt="{{ imageAlt13 }}" />
      <p>{{ caption13 }}</p>
      <p></p>
    </div>

    {% endif %} {% endif %} {% if subheading14|length %}

    <article class="feature">
      <div class="feature__content">
        <h3 class="feature__heading">{{ subheading14 }}</h3>

        {{ paragraph14 | safe }}
      </div>
    </article>
    {% if imageAlt14|length %}

    <div class="blog__image__container">
      <img class="feature__image" src="{{ image14 }}" alt="{{ imageAlt14 }}" />
      <p>{{ caption14 }}</p>
      <p></p>
    </div>

    {% endif %} {% endif %} {% if subheading15|length %}

    <article class="feature">
      <div class="feature__content">
        <h3 class="feature__heading">{{ subheading15 }}</h3>

        {{ paragraph15 | safe }}
      </div>
    </article>
    {% if imageAlt15|length %}

    <div class="blog__image__container">
      <img class="feature__image" src="{{ image15 }}" alt="{{ imageAlt15 }}" />
      <p>{{ caption15 }}</p>
      <p></p>
    </div>

    {% endif %} {% endif %}
  </div>
</section>

<section data-aos="fade-up" class="block container">
  <header class="block__header">
    <h3>Blog by Category</h3>
  </header>

  {% include 'blog-categories.njk' %}
</section>

<script src="js/main.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
