---
layout: "base.njk"
pageTitle: "{{ title }}"
metaDescription: "{{ metaDescription }}"
---

{% if JSON|length %}
<script type="application/ld+json">
  {{ JSON | safe }}
</script>
{% endif %}

<section class="block">
  <div class="container">
    <header class="block__header" data-aos="fade-up">
      <h1 class="blog--header">{{ blogTitle }}</h1>
      <p class="blog--datum">{{ datum }}</p>
      <p class="blog--author">{{ author }}</p>
      <ul class="blog--tags">
        {% for tag in tags %}
        <li>{{ tag }}</li>
        {% endfor %}
      </ul>
    </header>

    {% for section in sections %} {% set alignment = section.alignment |
    default("center") %} {% if section.type == "Paragraph" %}
    <article class="feature">
      <div class="feature__content" style="text-align: {{ alignment }};">
        {{ section.content | safe }}
      </div>
    </article>
    {% elif section.type == "Image" %}
    <div class="blog__image__container" style="text-align: {{ alignment }};">
      <div class="click-zoom">
        <label>
          <input type="checkbox" />
          <img
            class="feature__image"
            src="{{ section.content }}"
            alt="Placeholder for alt text"
          />
        </label>
      </div>
    </div>
    {% elif section.type == "Heading" %}
    <h3 class="feature__heading" style="text-align: {{ alignment }};">
      {{ section.content }}
    </h3>
    {% endif %} {% endfor %}
  </div>
</section>
