<div class="center">
  <ul class="center_list">
    <li>
      <a href="/featured-blogs/">Feauted Blogs</a>
    </li>
    <li>
      <a href="/cat-blogs/">Cat Blogs</a>
    </li>
    <li>
      <a href="/dog-blogs/">Dog Blogs</a>
    </li>
    <li>
      <a href="/rabbit-blogs/">Rabbit Blogs</a>
    </li>
  </ul>
</div>
