<div class="center">
  <ul class="center_list">
    <li>
      <a href="/featured-blogs/">Feautured</a>
    </li>
    <li>
      <a href="/coding-blogs/">Coding</a>
    </li>
    <li>
      <a href="/SEO-blogs/">SEO</a>
    </li>
    <li>
      <a href="/DIY-blogs/">DIY</a>
    </li>
    <li>
      <a href="/outdoors-blogs/">Outdoors</a>
    </li>
  </ul>
</div>
