<header class="header">
  <nav class="nav collapsible">
    <span class="nav__item paw">
      <a href="index.html">
        <i class="fas fa-paw"></i>
      </a>
    </span>
    <svg class="icon icon--white nav__toggler">
      <use href="images/sprite.svg#menu"></use>
    </svg>
    <ul class="list nav__list collapsible__content">
      <li class="nav__item"><a href="/">Home</a></li>
      <li class="nav__item"><a href="/kennels/">Kennels</a></li>
      <li class="nav__item"><a href="/blog/">Blog</a></li>
      <li class="nav__item"><a href="./src/cattery.html">Cattery</a></li>
      <li class="nav__item"><a href="grooming.html">Grooming</a></li>
      <li class="nav__item"><a href="rates.html">Rates</a></li>
      <li class="nav__item"><a href="directions.html">Directions</a></li>
      <li class="nav__item"><a href="contact.html">Contact</a></li>
    </ul>
  </nav>
</header>