/*------------------------------------------------------------*/
/* Universal */
/*------------------------------------------------------------*/

:root {
  --color-primary: #0f8a09;
  --color-headings: #555;
  --color-body: #918ca4;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* To stop our content stretching within the block when screen size is increased. */
/* Text is left aligned in container by default. Set 0 vertical margin and auto horizontal margin which means if there is extra space, the space will be evenly distributed to the sides of the content. */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/*------------------------------------------------------------*/
/* Typography */
/*------------------------------------------------------------*/

/* Styling for when you highlight text. */
::selection {
  background: var(--color-primary);
  color: #fff;
}
html {
  /* Font Size is 16px by default. 1rem is 1 x 16 so 16pxs. Set to 62.5% so 62.5% of 16px = 10pxs. Therefore 1rem is now 10pxs. */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  /*Hero styling. */
  line-height: 1.1;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  /* Allow heading elements to dictate margin. */
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/*------------------------------------------------------------*/
/* Links */
/*------------------------------------------------------------*/

a {
  text-decoration: none;
}

.link {
  font-size: 1.5rem;

  color: #393939;
}

.link:hover {
  color: var(--color-primary);
}

.link-blog {
  color: var(--color-accent);
  /* text-transform: uppercase; */
  /* font-size: 2rem; */
  font-weight: 700;
}

.link-blog:hover {
  color: var(--color-primary);
}

/*------------------------------------------------------------*/
/* Lists */
/*------------------------------------------------------------*/

.list {
  /* Remove default bullet point and left margin. */
  list-style: none;
  padding-left: 0;
}

.list--pricing {
  text-align: center;
}

.list--pricing > .list__item:nth-child(odd) {
  font-weight: bold;
}

.list--secondary .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1.5rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/*------------------------------------------------------------*/
/* Icons */
/*------------------------------------------------------------*/

.icon {
  width: 40px;
  height: 40px;
}

/* Following testimonial styling. */

.icon--white {
  fill: #fff;
}

/*------------------------------------------------------------*/
/* Buttons */
/*------------------------------------------------------------*/

/* We have buttons which stretch to just include their internal content and we have buttons which stretch to take up all of the available space (block button). */

/* Anchor elements are not centered in the button and the button is wider then the screen. This happens because box sizing has not been set so the horizontal padding we have set is added ontop of the 100% value we have specified for width. This does not happen to the button element because by default browsers set box sizing of button elements to border-box. Fix for this specied at the top of the stylesheet using the universal selector (*). */

.btn {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  /* Horizontal padding set to 4% of view port. This is so when the search bar is shrunk on mobile the search button dynamically fits. */
  padding: 2rem 4vw;
  border: 0;
  border-radius: 40px;
  cursor: pointer;
  outline: 0;
  /* Prevent text of button wrapping onto second line. */
  white-space: nowrap;
  text-align: center;
  margin: 1rem 0;
}

.btn--secondary {
  background: var(--color-primary);
  color: #fff;
}

.btn--secondary:hover {
  background-color: #000;
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

.block--dark h1,
.block--dark h2,
.block--dark h3 {
  color: #fff;
}

/*------------------------------------------------------------*/
/* Grids */
/*------------------------------------------------------------*/

.grid {
  display: grid;
}

.article__break {
  margin: 6rem 0;
}

@media screen and (min-width: 768px) {
  /* Class only activates if media query is met. Takes all the available space, divides it by 2 and gives each column an equal slice. */
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .article__break {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*------------------------------------------------------------*/
/* Collapsibles */
/*------------------------------------------------------------*/

/* Use flex to layout items horizontally or vertically. */

.collapsible__header {
  display: flex;
  /* Pushes content to edge of container and adds space between. */
  justify-content: space-between;
}
.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible-icon {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  /* Use all to anaimate multiple properties. */
  transition: all 0.3s;
}

.collapsible--expanded .collapsible-icon {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  /* Dynamically set to height of content. */
  max-height: 100vh;
  /* Gives smooth transition. */
  opacity: 1;
}

/*------------------------------------------------------------*/
/* Blocks */
/*------------------------------------------------------------*/

.block {
  --padding-vertical: 4rem;
  padding: 2rem;

  /* Using "text-align: center;" here for the block header would mean every element we insert within the block would have it's text centered. Leads to layout mess ups for things like cards etc. Solution: Create new container for the header and center text there. Use <header> for semantics. */
}

.block__heading {
  margin-top: 0;
  text-align: center;
}

.block__header,
.container__header {
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.block--dark {
  background: #000;
  color: #fff;
  padding-top: 2rem;
}

.block--dark .block__heading {
  color: #fff;
}

/* Can't apply container class to dark blocks as it contains the width of the block, which when coloured black is obvious. Instead need to wrap block content in a div with a class of container as div will take up entire width of screen while also containing content. */

/*------------------------------------------------------------*/
/* Navigation Bar */
/*------------------------------------------------------------*/

.nav {
  background: #000;
  /* background: #fff; */
  /* By default flex direction is horizontal. */
  display: flex;
  /*Push first and last items to the sides and evenly distributre remaining space between items, this is for mobile. */
  justify-content: space-between;
  /* Navigation bar has three elements, the toggler icon (hidden on desktop), the logo and an unordered list. Going to use flex to lay components out horizontally. When we add items to a flex container (.nav) they shrink by default so they can appear in one line. On mobile we want the menu items to appear on the second line below the navigation bar. To achieve this we give the list (.nav__list) a width of 100% which is 100% of the width of its parent (.nav), which is the entire navigation bar, so this list is going to stretch. Then we enable wrapping in our flex container (.nav) to allow the list to appear on the second line. */
  flex-wrap: wrap;
  /* Increase padding around logo and toggler. */
  padding: 2rem 2rem;

  /* Use align items to align items along the secondary axis.*/
  align-items: center;
}

.nav__list {
  width: 100%;
  /* Use dev tools, highlight element, check its margins and remove. */
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  /* border-bottom: solid 1px #d2d0db; */
}

.nav__item > a {
  color: #fff;
  transition: color 0.2s;
}

.nav__item > a:hover {
  color: #555;
}

/* Make nav collapsible = give it the .collapsible class and the list (content) the .collapsible__content class. */

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  /* No space between the first two classes means the element must have both these classes. */
  opacity: 1;
  box-shadow: 0 0 0 3px #d2d0db;
  border-radius: 5px;
}

/* Hack to fix dodgey bottom margin of logo. */
.nav__brand {
  transform: translateY(5px);
}

.nav__brand:hover {
  opacity: 0.6;
}

/* For desktop = hide toggler and remove 100% width of .nav__list and instead set to auto so it will stretch enough to fit the content and not appear on the second line. */

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    /* Lay horizontally. */
    display: flex;
    font-size: 1.6rem;

    /* Make .nav__list visible. Basically set the conditions of the expanded class to always show the content. */
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 0;
  }
}

/*------------------------------------------------------------*/
/* Hero (Banner) */
/*------------------------------------------------------------*/

/* Desktop = Dark block skewed left with a 2 column grid. First column has content, second has image. Mobile = 1 column grid. */

.hero__image {
  /* Image too large leading to horizontal scrolling. Have to set width to 100%. */
  /* width: 100%; */
  height: 300px;
}

.hero__header {
  margin-top: 0;
}

.hero__tagline {
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
  text-align: center;
}

/* For styling --> start with more generic classes and then specialise further in you go. */
/* Overriding original polygon. */
/* End up deleting as fix from orignal source later in course but keeping code for reference.
  .hero {
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
  } */

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }

  .hero__content {
    text-align: center;
    /* On widescreens content should be aligned vertically in the middle. Content element is inside a grid. Want to align the item. */
    align-self: center;
  }

  .hero__header {
    /* Image too large leading to horizontal scrolling. Have to set width to 100%. */
    margin-top: 10rem;
  }
}

/*------------------------------------------------------------*/
/* Features Block */
/*------------------------------------------------------------*/

.feature {
  gap: 2rem;
  margin: 2rem 0;
}
.feature__heading {
  margin-top: 1rem 0;
  text-align: center;
}

.feature__image {
  width: 100%;
}

.feature__order {
  grid-row-start: 1;
}

/* Margin for first .feature__content is too large at twelve. Target first .feature__content only and half the margin. */

.feature:first-of-type {
  margin-top: 6rem;
}
/* Swap the order of the every second (even) .feature__content around. */
@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }

  .feature {
    margin: 6rem 0;
  }

  .feature__order {
    grid-row-start: auto;
  }
}

/*------------------------------------------------------------*/
/* Footer */
/*------------------------------------------------------------*/

.footer {
  background-color: #232323;
  margin-top: 2rem;
}

.footer a {
  color: #d3d3d3;
  transition: color 0.3s;
}

.footer a:hover {
  color: #fff;
}
.footer__section {
  padding: 2rem;
  border-bottom: 1px solid #393939;
}

/* Overriding browser default (user-agent). */

.footer__section .list {
  margin: 0;
}

.footer__heading {
  text-transform: uppercase;
  font-weight: 600;
}

.footer__brand {
  margin: 5rem;
  text-align: center;
}

/* Need to make brand image responsive, otherwise it squashes into the footer headings when the screen is gradually shrunk. */
/* We have done this a few times now, could consider using a universal img { width: 100% } rule. Best to build website first and check if its applicable though. */
/* Think width: 100% think max width. */

.footer__brand img {
  width: 50%;
  max-width: 50px;
  margin-bottom: 10px;
}

.footer__year {
  font-size: 2.1rem;
  color: #fff;
  opacity: 0.3;
}

/* Redefine grid. */
/* Add footer sections for extra specificity, incase we were to add a new grid to our footer in future that we didn't want to have the same layout. */

@media screen and (min-width: 768px) {
  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  /* Hididng toggler chevron. */

  .footer .collapsible-icon {
    display: none;
  }

  /* Making collapsible visible. */
  .footer .collapsible__content {
    opacity: 1;
    max-height: 100%;
  }

  /* Moving logo to the start of the footer. */
  /* All items in grid have order 0 by default. Set to -1 it jumps to the start. */

  .footer__brand {
    /* Set to 5rem earlier to put gap beneath beneath mobile footer options but looks bad on desktop. */
    margin: 1rem;
    order: -1;
  }

  .footer__year {
    font-size: 1.5rem;
  }

  /* Get rid of mobile bottom border. */
  .footer__section {
    border: none;
  }

  .footer__heading {
    font-size: 1.6rem;
  }
}

/*------------------------------------------------------------*/
/* Additions */
/*------------------------------------------------------------*/

.image--rounded {
  border-radius: 5px;
}

.map {
  width: 100%;
  height: 350px;
  border: 0;
  border-radius: 10px;
}

.paw {
  border-bottom: 0;
}

.iconstyle {
  color: var(--color-primary);
  vertical-align: middle;
}

.pricing {
  border-collapse: collapse;
  width: 100%;
  color: #000;
}

.pricing .pricing__info,
.pricing .pricing__header {
  padding: 8px;
}

.pricing .pricing__entry:nth-child(even) {
  background-color: #f2f2f2;
}

.pricing .pricing__entry:hover {
  background-color: #ddd;
}

.pricing .pricing__header {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--color-primary);
  color: #fff;
}

/*------------------------------------------------------------*/
/* Cards */
/*------------------------------------------------------------*/

.card--containter {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  /* Border radius set to card element (parent). When colour of card__header changed to blue the element grows larger (overflow) than its parent container meaning it loses its rounded corners. By default overflow is visibile. To bring back rounded corners set overflow of parent to hidden. */
  overflow: hidden;
  max-width: 500px;
  margin-bottom: auto;
}

.card__header,
.card__body {
  /* Make sure elements line up. */
  padding: 2rem 3rem;
}

.card__body {
  background: #fff;
}

/*------------------------------------------------------------*/
/* Inputs */
/*------------------------------------------------------------*/

.input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #dcdcdc;
  padding: 2rem 0;
  margin: 2rem auto;
}
.message {
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  margin: 0px;
  border: 0;
  border-bottom: 1px solid #dcdcdc;
  margin: 2rem auto;
}
.message:focus {
  outline: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  margin: 0px;
  border: 1px solid #000;
  margin: 2rem auto;
}
.input:focus,
.input:focus {
  outline: none;
  border-bottom: 1px solid #000;
}

::placeholder {
  color: #cdcbd7;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

.btn--block {
  width: 100%;
  /* Anchor elements are inline by default so giving them a width won't work hence display is changed to inline block. */
  display: inline-block;
}

.btn--outline {
  background: #fff;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}

.btn--outline:hover {
  background: #353839;
  color: #fff;
  border: 2px solid #353839;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

.hero__cta {
  margin-bottom: 5rem;
}

.quote {
  font-style: italic;
}

.center {
  text-align: center;
}
.center a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.center a.active {
  background-color: #4caf50;
  color: white;
  pointer-events: none;
}

.center a:hover:not(.active) {
  background-color: #ddd;
}

.center_list {
  padding-inline-start: 0;
}

.center_list > li {
  display: inline-block;
  /* You can also add some margins here to make it look prettier */
}

.blog__image__container {
  display: grid;
  place-items: center;
}

@media screen and (min-width: 1024px) {
  .blog__image__container {
    width: 60%;
    height: 60%;
    margin: auto;
  }
}

.header--link {
  color: #4caf50;
}

.blog--header {
  color: var(--color-headings);
  margin-bottom: 1rem;
  /*Hero styling. */
  line-height: 1.1;
  font-size: 4rem;
}
@media screen and (min-width: 1024px) {
  .blog--header {
    font-size: 4rem;
  }
}
.code_terminal {
  background-color: #eee;
  display: block;
  border-radius: 0.5rem;
  /* padding: 20px; */
  display: grid;
  place-items: center;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
}

.click-zoom input[type="checkbox"] {
  display: none;
}

@media screen and (min-width: 768px) {
  .click-zoom img {
    transition: transform 0.25s ease;
    cursor: zoom-in;
  }

  .click-zoom input[type="checkbox"]:checked ~ img {
    transform: scale(1.5);
    cursor: zoom-out;
  }

  .code_terminal {
    width: 70%;
    margin: 1rem auto;
  }
}

.list--jump .jump {
  font-size: 2.4rem;
  color: var(--color-body);
}

.jump:hover {
  color: var(--color-primary);
}

.list--jump li {
  padding: 0.8rem 0;
}

@media screen and (min-width: 1024px) {
  .list--jump .jump {
    font-size: 2.1rem;
  }
}




/*Experiment. */
.containerblog {
  display: grid;
  grid-template-columns: 1fr 1fr; /* creates two columns */
  grid-gap: 1rem; /* adds space between grid items */
}

.containerblog--centered {
  text-align: center;
}

.containerblog--leftright {
  text-align: left;
}

.containerblog--rightleft {
  text-align: right;
}

.headerblog-centered {
  grid-column: span 2; /* makes the header span both columns */
  text-align: center;
}

.paragraphblog-centered {
  grid-column: span 2;
  text-align: center;
}

.imageglog-right {
  justify-self: end;
}

.imageblog-left {
  justify-self: start;
}
