---
title: Blog
metaDescription: List of Kosy Kennels most recent blogs. Browse by category!
layout: "base.njk"
pagination:
  data: collections.post
  size: 4
  alias: posts
  reverse: true
---

<section data-aos="fade-up" class="block container">
  <header class="block__header">
    <h1 class="blog--header">Blog by Category</h1>
  </header>

  {% include 'blog-categories.njk' %} {% for post in posts %}

  <article class="feature grid grid--1x2" data-aos="zoom-in-up">
    {% include 'article-snippet.njk' %}
  </article>
  {% endfor %} {% include 'pagination.njk' %}
</section>
