---
title: Coding Blogs
layout: "base.njk"
pagination:
  data: collections.coding
  size: 2
  reverse: true
  alias: posts
---

<section data-aos="fade-up" class="block container">
  <header class="block__header">
    <h1 class="blog--header">Coding Blogs</h1>
  </header>

  {% for post in posts %}

  <article class="feature grid grid--1x2" data-aos="zoom-in-up">
    {% include 'article-snippet.njk' %}
  </article>
  {% endfor %} {% include 'pagination.njk' %}
</section>
