---
title: Home | Sean's Guide
metaDescription: An honest and varied guide on a range of topics!
layout: "base.njk"
---

<section class="block block--dark hero">
  <!-- grid--1x2 -->
  <div class="container grid">
    <header class="hero__content">
      <h1 data-aos="zoom-in-up" class="block__heading">Sean's Guide</h1>
      <p data-aos="zoom-in-up" class="hero__tagline aos-init aos-animate">
        Honest guides and reviews on a variety of topics.
      </p>
    </header>
    <!-- <img
      class="hero__image aos-init aos-animate"
      src="/images/sg.JPG"
      alt="SX4 logo"
      data-aos="zoom-in"
    /> -->
  </div>
</section>

<section class="block">
  <div class="container">
    <header class="block__header" data-aos="fade-up">
      <h2>Overview</h2>
    </header>
    <article class="feature grid grid--1x2">
      <div class="feature__content" data-aos="fade-up">
        <p>My name is Sean (blue jumper) and welcome to my guide!</p>
        <p>
          Truthfully, this is a bit of an experiment. I never planned to start a
          blog or a guide. I enjoy coding and while looking into some things
          thought I may aswell start a website where I can document areas that I
          felt were underserved on the internet. You will find posts here
          ranging from coding tutorials to how to buy the best kettle. If you
          have any suggestions please get in touch!
        </p>
      </div>
      <img
        class="feature__image image--rounded"
        src="images/me.jpg"
        alt="Me on the boat"
      />
    </article>
    <article class="feature grid grid--1x2">
      <div class="feature__content" data-aos="fade-right">
        <h3 class="feature__heading">Topics</h3>
        <ul class="list list--tick">
          <li class="list__item">Tech reviews</li>
          <li class="list__item">Coding guides</li>
          <li class="list__item">Web development tutorials</li>
          <li class="list__item">Outdoors</li>
          <li class="list__item">DIY Projects</li>
        </ul>

        <pre class="code_terminal">
          <code>
            p { color: red; }
            body { background-color: #eee; }
          </code>
        </pre>
      </div>

      <img
        class="feature__image image--rounded"
        src="images/topics.jpg"
        alt="Computer screen with blogs"
        data-aos="fade-down"
      />
    </article>
  </div>
</section>
